out/
*.user
*.suo
*.sdf
*.opensdf
*.vcxproj.user
.vs/
.vscode/
*.log
*.exe
*.app
*.dmg
*.AppImage
release/
artifacts/
node_modules/
dist/
Telegram/out/
ThirdParty/
Libraries/
win64/
*.zip
*.tar.gz
*.cache
CMakeCache.txt
CMakeFiles/
